@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен акаунт";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Вашият акаунт е временно заключен! При проблеми се свържете със нас на support@SomeEmail.org</p>
</header>
