@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Липса на права";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Нямате достъп то тази страница.</p>
</header>
