@model int
<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-danger form-control" value="Изтрий" asp-route-id="@Model"/>
    </div>
    <div class="col-6">
        <button asp-action="Index" class="btn btn-info form-control">Назад</button>
    </div>
</div>