@model int
<div class="row">
    <div class="col-6">
        <button asp-action="Edit" class="btn btn-success form-control" asp-route-id="@Model">Промени</button>
    </div>
    <div class="col-6">
        <button asp-action="Index" class="btn btn-info form-control">Назад</button>
    </div>
</div>