@model string
@using PartShop.Utility

<div>
    @{
        var image = "";
        if (Model == SD.StatusSubmitted)
        {
            image = SD.OrderSubmitted;
        }
        else
        {
            if (Model == SD.StatusInProcess)
            {
                image = SD.OrderInProcess;
            }
            else
            {
                if (Model == SD.StatusCompleted)
                {
                    image = SD.OrderCompleted;
                }
            }
        }
    }
    }
    <img src="~/images/@image" />
</div>